h2.text-center {{welcome1}}
.row
  .col-xs-12
    button.btn.btn-default.btn-xs(ng-click='athlete = {}') Clear form
    form.form-horizontal
      .form-group
        .col-xs-12
          .col-xs-4
            h3.text-center Athlete Info
            label.control-label First name
            input.form-control(type='text', name='firstName', ng-model='athlete.athlete.firstName', autofocus=true)
            label.control-label Last name
            input.form-control(type='text', name='lastName', ng-model='athlete.athlete.lastName')
            label.control-label Address
            input.form-control(type='text', name='address', ng-model='athlete.athlete.address')
            .row
              .col-xs-6
                label.control-label City
                input.form-control(type='text', name='city', size='10', ng-model='athlete.athlete.city')
              .col-xs-3
                label.control-label State
                input.form-control(type='text', name='state', size='3', ng-model='athlete.athlete.state')
              .col-xs-3
                label.control-label Zip
                input.form-control(type='text', name='zip', size='5', ng-model='athlete.athlete.zip')
            label.control-label Email
            input.form-control(type='email', name='athleteEmail', ng-model='athlete.athlete.email')
            label.control-label Contact #
            input.form-control(type='tel', name='athleteNumber', ng-model='athlete.athlete.phoneNumber')
            .col-xs-6
              label.control-label DOB
              input.form-control(type='date', name='athleteDOB', ng-model='athlete.athlete.dob')
            .col-xs-6
              p
              p Gender
              label
                input(type='radio', value='M', ng-model='athlete.athlete.gender')
                | Male
              label
                input(type='radio', value='F', ng-model='athlete.athlete.gender')
                | Female
          .col-xs-4
            h3.text-center Primary Contact Info
            label.control-label First name
            input.form-control(type='text', name='pcFirstName', ng-model='athlete.primaryContact.firstName')
            label.control-label Last name
            input.form-control(type='text', name='pcLastName', ng-model='athlete.primaryContact.lastName')
            label.control-label Email
            input.form-control(type='email', name='pcEmail', ng-model='athlete.primaryContact.email')
            label.control-label Contact #
            input.form-control(type='tel', name='pcNumber', ng-model='athlete.primaryContact.phoneNumber')
            label.control-label Athlete Medical Issues
            textarea.form-control(ng-model='athlete.medical')
            label.control-label Photo
            //- future feature -----------
            input.form-control(type='file', ng-change='photoPreview()', ng-model='athlete.athlete.photo')
            img(ng-src='', height='200')
            //- ---------------------------
          .col-xs-4
            h3.text-center Secondary Contact Info
            label.control-label First name
            input.form-control(type='text', name='scFirstName', ng-model='athlete.secondaryContact.firstName')
            label.control-label Last name
            input.form-control(type='text', name='scLastName', ng-model='athlete.secondaryContact.lastName')
            label.control-label Email
            input.form-control(type='email', name='scEmail', ng-model='athlete.secondaryContact.email')
            label.control-label Contact #
            input.form-control(type='tel', name='scNumber', ng-model='athlete.secondaryContact.phoneNumber')
            label.control-label Athlete Notes
            textarea.form-control(ng-model='athlete.notes')
            label.control-label Waiver Signed?
            input(type='checkbox', ng-model='athlete.waiver')
            button.btn.btn-default(ng-click='submit(athlete)') Save