
<h1 class="text-center">{{welcome}}</h1>
<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-3">
    <form name="authForm" class="form-horizontal">
      <div ng-class="{ 'has-error': authForm.userEmail.$invalid }">
        <label class="control-label">Email</label>
        <input type="email" name="userEmail" ng-model="user.email" required="required" class="form-control"/>
        <p ng-show="authForm.userEmail.$invalid">Enter a valid email address.</p>
      </div>
      <div ng-class="{ 'has-error': authForm.userPassword.$error.minlength }">
        <label class="control-label">Password</label>
        <input type="password" name="userPassword" ng-model="user.password" ng-minlength="6" class="form-control"/>
        <p ng-show="authForm.userPassword.$error.minlength">Min password length = 6 chars</p>
      </div>
      <div ng-show="showLogin">
        <button ng-click="login()" class="btn btn-default">Login</button><span>&nbsp;&nbsp;&nbsp;</span><a ng-click="showRegisterBtn()">Register</a>
      </div>
      <div ng-show="showRegister">
        <button ng-click="register()" class="btn btn-default">Register</button><span>&nbsp;&nbsp;&nbsp;</span><a ng-click="showLoginBtn()">Login        </a>
      </div>
    </form>
  </div>
  <div class="col-xs-7"></div>
  <div class="col-xs-1"></div>
</div>