
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-1"></div>
    <div class="col-xs-3">
      <h2 class="text-center">Manage your team</h2><i class="fa fa-clipboard fa-5x pull-left"></i>
      <h4>Keep critical information on your athletes current and available at a glance.</h4>
    </div>
    <div class="col-xs-4">
      <h2 class="text-center">Track their progress</h2><i class="fa fa-line-chart fa-5x pull-left"></i>
      <h4>Record results from track meets and follow how each athlete improves over time.</h4>
    </div>
    <div class="col-xs-3">
      <h2 class="text-center">Keep workout logs</h2><i class="fa fa-list-ol fa-5x pull-left"></i>
      <h4>Monitor and plan your workouts, adjust as the season progresses, and easily remember how your athletes respond.</h4>
    </div>
    <div class="col-xs-1"></div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-1"></div>
    <div class="col-xs-3"><img src="public/css/jumper.png" class="clipart center-block"/></div>
    <div class="col-xs-4"><img src="public/css/usatf.png" class="clipart center-block"/></div>
    <div class="col-xs-3"><img src="public/css/relayrunner.png" class="clipart center-block"/></div>
    <div class="col-xs-1"></div>
  </div>
</div>