.row
  .col-xs-12
    .col-xs-1
    .col-xs-3
      h2.text-center Manage your team
      i.fa.fa-clipboard.fa-5x.pull-left
      h4 Keep critical information on your athletes current and available at a glance.
    .col-xs-4
      h2.text-center Track their progress
      i.fa.fa-bar-chart.fa-5x.pull-left
      h4 Record results from track meets and follow how each athlete improves over time.
    .col-xs-3
      h2.text-center Keep workout logs
      i.fa.fa-list-ol.fa-5x.pull-left
      h4 Monitor and plan your workouts, adjust as the season progresses, and easily remember how your athletes respond.
    .col-xs-1
.row
  .col-xs-12
    .col-xs-1
    .col-xs-3
      img.clipart.center-block(src='public/css/jumper.png')
    .col-xs-4
      img.clipart.center-block(src='public/css/usatf.png')
    .col-xs-3
      img.clipart.center-block(src='public/css/relayrunner.png')
    .col-xs-1