.row
  .col-xs-12
    .col-xs-1
    .col-xs-3
      h2.text-center Manage your team
      i.fa.fa-clipboard.fa-5x.pull-left
      h4 Keep critical information on your athletes current and available at a glance.
    //- .col-xs-1
    .col-xs-4
      h2.text-center Track their progress
      i.fa.fa-bar-chart.fa-5x.pull-left
      h4 Record results from track meets and follow how each athlete improves over time.
    //- .col-xs-1
    .col-xs-3
      h2.text-center Keep workout logs
      i.fa.fa-list-ol.fa-5x.pull-left
      h4 Have one place where your workouts are stored, adjust as the season progresses, and easily remember how your athletes responded.
    .col-xs-1