div(ng-controller='viewResultsController')
  h1.text-center {{welcome}}
  .row
    .col-md-12
      label Filters
      input(ng-model='query1')
      input(ng-model='query2')
      button.btn.btn-default.btn-xs(ng-click='print()') Print
      table.table.table-hover
        tbody
          tr
            th 
              a(href="", ng-click="order('fullName')") Full name
            th 
              a(href="", ng-click="order('date')") Date
            th
              a(href="", ng-click="order('meet')") Meet
            th
              a(href="", ng-click="order('event')")  Event
            th Result
            th
            th
          tr(ng-repeat='result in list | orderBy:predicate:reverse | filter:query1 | filter:query2')
            td {{result.fullName}}
            td {{result.date | date:"MM/dd/yyyy"}}
            td {{result.meet}}
            td {{result.event}}
            //- td {{result.convertedResult}}
            td {{result.resultString}}
            td
              button.btn.btn-default.btn-xs.btn-success(type='button', ng-click='edit(result.$id)') Edit
            td
              button.btn.btn-default.btn-xs.btn-danger(type='button', ng-click='remove(result.$id)') Remove
