div(ng-controller='viewAthletesController')
  h1.text-center {{welcome}}
  .row
    .col-md-12
      label Filter
      input(ng-model='query')
      table.table.table-hover
        tbody
          tr
            th 
              a(href="", ng-click="order('athlete.firstName')") First Name
            th 
              a(href="", ng-click="order('athlete.lastName')") Last Name
            th
              a(href="", ng-click="order('athlete.address')")  Address
            th
              a(href="", ng-click="order('athlete.city')")  City
            th
              a(href="", ng-click="order('athlete.email')")  Email
            th
              a(href="", ng-click="order('athlete.phoneNumber')") Contact #
            th
              a(href="", ng-click="order('athlete.dob')") DOB
            th Gender
            th
            th
          tr(ng-repeat='student in list | orderBy:predicate:reverse | filter:query')
            td {{student.athlete.firstName}}
            td {{student.athlete.lastName}}
            td {{student.athlete.address}}
            td {{student.athlete.city}}
            td {{student.athlete.email}}
            td {{student.athlete.phoneNumber}}
            td {{student.athlete.dob | date:"MM/dd/yyyy"}}
            td {{student.athlete.gender}}
            td
              button.btn.btn-default.btn-xs.btn-success(type='button', ng-click='edit(student.$id)') Edit
            td
              button.btn.btn-default.btn-xs.btn-danger(type='button', ng-click='remove(student.$id)') Remove
