
<div ng-controller="viewAthletesController">
  <h1 class="text-center">{{welcome}}</h1>
  <div class="row">
    <div class="col-md-12">
      <label>Filter</label>
      <input ng-model="query"/>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th> <a href="" ng-click="order('athlete.firstName')">First Name</a></th>
            <th> <a href="" ng-click="order('athlete.lastName')">Last Name</a></th>
            <th><a href="" ng-click="order('athlete.email')"> Email</a></th>
            <th><a href="" ng-click="order('athlete.phoneNumber')">Contact #</a></th>
            <th><a href="" ng-click="order('athlete.dob')">DOB</a></th>
            <th>Gender</th>
            <th></th>
            <th></th>
          </tr>
          <tr ng-repeat="student in list | orderBy:predicate:reverse | filter:query">
            <td>{{student.athlete.firstName}}</td>
            <td>{{student.athlete.lastName}}</td>
            <td>{{student.athlete.email}}</td>
            <td>{{student.athlete.phoneNumber}}</td>
            <td>{{student.athlete.dob | date:"MM/dd/yyyy"}}</td>
            <td>{{student.athlete.gender}}</td>
            <td>
              <button type="button" ng-click="edit(student.$id)" class="btn btn-default btn-xs btn-success">Edit</button>
            </td>
            <td>
              <button type="button" ng-click="remove(student.$id)" class="btn btn-default btn-xs btn-danger">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>