doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Roboto")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://www.google.com/recaptcha/api.js")
  body
    
    div(ng-view)

    script(src="javascripts/jquery.js")
    script(src="javascripts/angular.js")
    script(src="javascripts/angular-route.js")
    script(src="javascripts/bootstrap.min.js")
    script(src="app/app.js")
    script(src="app/controllers.js")