<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
  </head>
  <body>
    <div ng-view></div>
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/angular.js"></script>
    <script src="javascripts/angular-route.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers.js"></script>
  </body>
</html>