li a {
  text-decoration: none;  
}

li {
  list-style: none;
  display: inline;
}

.indent {
  margin-left: 40px;
}

.clipart {
  max-width: 200px;
  max-height: 250px;
}

.small-pic {
  display: inline-block;
  max-height: 140px;
  max-width: 280px;
  padding: 20px;
}